.left-bar{
    justify-self: center;
    padding-left: 12%;
    padding-right: 12%;
}

.card-body{
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
    padding-right: 0;
}
.card{
    border-style: solid;
    border-width: 0.2em;
}
.logo{
    width: 3.5rem;
    animation: Animation-right-bar 1s cubic-bezier(0.55, 0, 1, 0.45) 0.3s 1 normal none;
}
.link-away{
    margin-top: 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}
.link-away:hover{
    color: rgb(138, 138, 138);
}
.link-away span{
    margin-left: 1rem;
}
.right-bar div .card{
    margin-top: 1em;
}
.right-bar div .card-body{
    height: 126px;
}

@media (max-width: 992px){
    .main-container{
        margin-top: 5vh;
    }
    .left-bar{
        justify-self: center;
        padding-left: 0%;
        padding-right: 0%;
    }
}
@media (max-width: 768px){
    .left-bar{
        justify-self: center;
        padding-left: 5%;
        padding-right: 5%;
    }
    .right-bar{
        margin-top: 2rem;
    }
}
@keyframes Animation-right-bar {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-3px) rotate(6deg);
	}

	30% {
		transform: translateX(3px) rotate(-6deg);
	}

	45% {
		transform: translateX(-3px) rotate(3.6deg);
	}

	60% {
		transform: translateX(3px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-1.5px) rotate(1.2deg);
	}
}