.left-bar{
    grid-column: 1/6;
    height: 70vh;
    justify-self: center;
    max-width: 20em;
    margin-left: 5vh;

}

.right-bar{
    grid-column: 6/13;
}

.card-body{
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
}
.card{
    border-style: solid;
    border-width: 0.2em;
}
.right-bar{
    margin-left: 2em;
    margin-right: 2em;
}
.logo{
    width: 3.5rem;
    animation: Animation-right-bar 1s cubic-bezier(0.55, 0, 1, 0.45) 0.3s 1 normal none;
}
.link-away{
    margin-top: 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}
.link-away:hover{
    color: rgb(138, 138, 138);
}
.link-away span{
    margin-left: 1rem;
}
.right-bar div .card{
    margin-top: 1em;
}
.right-bar div .card-body{
    height: 126px;
}

@media (max-width:1000px){
    .main-container{
        display: -webkit-box; 
        display: -ms-flexbox;
        display: grid;
        margin-top: 7.5vh;
        .left-bar{
            grid-column: 1/6;
            margin-left: 5vh;
        }
        .right-bar{
            grid-column: 6/13;
            .card{
                margin-top: 1rem;
            }
        }
    }
}
@media (max-width:600px){
    .main-container{
        display: -webkit-box; 
        display: -ms-flexbox;
        display: grid;
        grid-template-rows: repeat(2);
        margin-top: 5vh;
        .left-bar{
            grid-column: 1/13;
            margin: 5vh;
        }
        .right-bar{
            margin-top: 2rem;
            grid-column: 1/13;
        }
        .right-bar div .row{
            margin: 0;
        }
    }
}
@keyframes Animation-right-bar {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-3px) rotate(6deg);
	}

	30% {
		transform: translateX(3px) rotate(-6deg);
	}

	45% {
		transform: translateX(-3px) rotate(3.6deg);
	}

	60% {
		transform: translateX(3px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-1.5px) rotate(1.2deg);
	}
}