.left-bar{
    justify-self: center;
}
.main-container{
    margin: 0;
}
h3{
    margin-top: 0.5rem;
    font-weight: bold;
}
.yt{
    padding-left: 10%;
}
.col-lg-5,
.col-lg-7,
.col-lg-4,
.col-lg-8{
    padding: 0;
}
.col-lg-8{
    padding-left: 1rem;
    padding-right: 1rem;
}

.left-bar img{
    width: 100%;
    padding-left: 5%;
    filter: drop-shadow(0px 0px 23px #FFFFFF);
}
.left-bar img:hover{
    width: 100%;
    filter: drop-shadow(0px 0px 10px #FFFFFF);
}
.music_autor{
    width: 100%;
    border-style: solid;
    border-width: 0.3em;
    border-color: white;
}
.main-container p{
    font-size: 1.5rem;
    color:#FFFFFF;  
}
.right-bar .row{
    margin: 2rem;
}
.first{
    animation: myAnim 1s linear 0s 1 normal none;
}
.second{
    animation: myAnim 2s linear 0s 1 normal none;
}
.third{
    animation: myAnim 3s linear 0s 1 normal none;
}
.fouth{
    animation: myAnim 4s linear 0s 1 normal none;
}
.right-img{
    flex-direction: row-reverse;
}
@media (max-width: 1175px){
    .main-container p{
        font-size: 1rem;
    }
}
@media (max-width: 768px){
    .main-container p{
        font-size: 1.6rem;
    }
    h3{
        text-align: center;
    }
    .yt{
        padding-left: 0;
    }
    .right-bar div p{
        text-align: center;
    }
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(10000px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}