.main-container {
    display: flex;
    margin: 0;
    margin-left: 3rem;
}

.left-bar {
    display: flex;
    background-color: rgb(33, 37, 41);
    width: 3rem;
    min-width: 3rem;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 3.5rem; 
    left: 0; 
    width: 3rem; 
    height: 100%;
    z-index: 900;
    
}

h2{
    margin-left: 1rem;
}

.left-bar img {
    width: 3rem;
    height: 3rem;
}

a img{
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.5rem;
}

.right-bar {
    width: 100%;
}

.grid-row-div{
    justify-items: center;
    align-items: center;
}

.grid-column{
    justify-self: center;
    align-self: center;
    padding: 5%;
}

.card{
    margin-top: 2rem;
}

.card-body h4 {
    text-align: center;
}

.card-body h3 {
    text-align: center;
}
.card-img {
    width: 100%;
}


.card {
    border-width: 0.5em;
    border-color: white;
}

.right-bar{
    margin-top: 0.5rem;
}
.card-body{
    padding: 0;
    padding-top: 0.5rem;
}
.card-body h4{
    font-size: 1.2rem;
}
.card-text{
    text-align: center;
    font-size: 1.2rem;
    color:#000;  
}